@import './variables';
.nav{
    height: 71px;
.link{
    color: white;
    &:hover{
        background-color: rgba(orange,0.2);
    }
    &.active{
        background-color: rgba(orange,0.2);
    }
}
}